@model SliderUpdateViewModel
<div class="col-8 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit slider</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">Description</label>
                    <input asp-for="Description" class="form-control" id="exampleInputName1" placeholder="Description">
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
                <div class="form-group">
                    <label for="exampleInputName1">First Title</label>
                    <input asp-for="FirstTitle" class="form-control" id="exampleInputName1" placeholder="First Title">
                </div>
                <span asp-validation-for="FirstTitle" class="text-danger"></span>
                <div class="form-group">
                    <label for="exampleInputName1">Second Title</label>
                    <input asp-for="SecondTitle" class="form-control" id="exampleInputName1" placeholder="Second Title">
                </div>
                <span asp-validation-for="SecondTitle" class="text-danger"></span>
                <img src="~/images/slider/@Model.CoverImageUrl" width="100" height="100" />
                <img id="imagePreview" src="#" alt="Selected Image" style="display:none; width:200px; height:auto; margin-top:10px;" />
                <div class="form-group">
                    <label>Change image</label>
                    <div class="input-group col-xs-12">
                        <input asp-for="CoverImageFile" class="form-control file-upload-info" placeholder="Upload Image">
                    </div>
                    <span asp-validation-for="CoverImageFile" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a asp-action="index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>
<script>
    function Delete(id,button){
    const selectTagInput = document.getElementById("tagSelectList");
    const url = '/admin/slider/removeTag';
    const data = {
      id: id,
    };

    const options = {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    };

    fetch(url, options)
      .then(response => {
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        button.parentNode.remove();
        return response.json()
      })
      .then(data=>{
          console.log(data);
          const option = document.createElement('option');
          option.value = data.id;
          option.text = data.name;

          selectTagInput.appendChild(option);
      })
      .catch(error => {
        console.error('Error:', error);
      });

    }

    document.getElementById('imageUpload').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const img = document.getElementById('imagePreview');
                    img.src = e.target.result;
                    img.style.display = 'block';
                };

                reader.readAsDataURL(file);
            }
        });

</script>